<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">

	<context:component-scan base-package="com.kharevich.pricetools.logic.*" />

	<tx:annotation-driven />

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>jdbc.properties</value>
		</property>
	</bean>

	<bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="connectionProperties" value="${jdbc.connectionProperties}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="annotatedClasses">
			<list>
				<value>com.kharevich.pricetools.logic.Product</value>
				<value>com.kharevich.pricetools.logic.ProductDescription</value>
				<value>com.kharevich.pricetools.logic.ProductToCategory</value>
				<value>com.kharevich.pricetools.logic.ProductToStore</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">false</prop>
			</props>
		</property>
	</bean>

	<bean id="product_base" class="com.kharevich.pricetools.logic.Product">
		<property name="sku" value="" />
		<property name="upc" value="" />
		<property name="ean" value="" />
		<property name="jan" value="" />
		<property name="isbn" value="" />
		<property name="mpn" value="" />
		<property name="location" value="" />
		<property name="stock_status_id" value="4" />
		<property name="manufacturer_id" value="0" />
		<property name="shipping" value="1" />
		<property name="points" value="0" />
		<property name="tax_class_id" value="0" />
		<property name="weight" value="0" />
		<property name="weight_class_id" value="7" />
		<property name="length" value="0" />
		<property name="width" value="0" />
		<property name="height" value="0" />
		<property name="length_class_id" value="4" />
		<property name="subtract" value="1" />
		<property name="percent" value="1.0" />
		<property name="minimum" value="1" />
		<property name="sort_order" value="1" />
		<property name="status" value="1" />
	</bean>
	<bean id="product_description_base" class="com.kharevich.pricetools.logic.ProductDescription">
		<property name="language_id" value="2" />
		<property name="name" value="" />
		<property name="description" value="" />
		<property name="meta_description" value="" />
		<property name="meta_keyword" value="" />
		<property name="tag" value="" />
	</bean>
	<bean id="product_to_store_base" class="com.kharevich.pricetools.logic.ProductToStore">
		<property name="store_id" value="0" />
	</bean>
	<bean id="product_to_category_base" class="com.kharevich.pricetools.logic.ProductToCategory">
		<property name="category_id" value="458" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager"
		p:sessionFactory-ref="sessionFactory">
	</bean>
</beans>
